body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  text-align: center;
  color:deepskyblue;
}

h2 {
  color:rgb(123, 176, 255);
}

.oneButton {
  display: grid;
  width: 100%;
  height: 50px;
  justify-content: center;
}

.twoButtons {
  display: grid;
  width: 100%;
  height: 50px;
  justify-content: center;
}
