.square {
    border: 1px solid black;
    /* color:rgb(173, 255, 47); */

    height: 20px;
    width: 20px;
    font-size: small;
    text-align: center;
}

#square:hover {
    background-color: aquamarine;
}

.contentRed {
    color: red;
}

.contentBlack {
    color: black;
}

.backgroundAqua {
    background-color: aqua;
}

.backgroundWhite {
    background-color: white;
}

.backgroundCoral {
    background-color:coral;
}

.backgroundgreen {
    border: 3px solid green;
}